.education {
    &__item {
        @include avoid-break;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    &__place {
        font-weight: lighter;
        font-size: .92em;
        color: $color-secondary;
    }

    &__description i {
        font-size: .88em;
        color: $color-secondary;
        padding-right: 2px;
    }
}
